<h2><%= question.title %></h2>
<p><%= question.body %></p>

<% if logged_in? && question.user_id == current_user.id %>
  <span><a id="edit" href="/questions/<%= question.id %>/edit">Edit</a></span>
    <div id="editform" class="hidden">
      <form method="post" action="/questions/<%= question.id %>">
        <input type="hidden" name="_method" value="put">
        <input name="question[title]" type="text" value="<%= question.try(:title) %>">
        <input name="question[body]" type="text" value="<%= question.try(:body) %>">
        <input type="submit" value="Update Question" class="button">
      </form>
    </div>

  <span><form id="edit" action="/questions/<%= question.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form></span>
<% end %>
