
<div id ="question-answer-parent">

  <div id="question-container">
    <div id="vote-body-user-container">
      <%= erb :'votes/_vote', locals: { type: @question, vote_count: @question.count_votes } %>
      <%= erb :'questions/_question', locals: { question: @question } %>
    </div>

    <div id="question-comments-container">
      <% @comments.each do | comment | %>
        <%= erb :'/votes/_vote', locals: { type: comment, vote_count: comment.count_votes} %>
        <%= erb :'questions/_comment', locals: { comment: comment } %>
      <% end %>
      <div id="answer-comment">
        <%= erb :'/comments/new', locals: { type: @question } %>
      </div>
    </div>
  </div>

  <div id="question-answers-container">
    <h2>Answers</h2>

      <% @answers.each do | answer | %>
        <div id="each-answer-container">
          <%= erb :'/votes/_vote', locals: { type: answer, vote_count: answer.count_votes } %>
            <div id="questionbody">
              <%= erb :'questions/_answer', locals: { answer: answer } %>
            </div>
          <div id="<%= answer.id %>">
            <% answer.comments.each do |answer_comment| %>
              <div id="answer-comment">
                <%= erb :'votes/_vote', locals: {type: answer_comment, vote_count: answer.count_votes} %>
                <%=erb :'questions/_comment', locals: {comment: answer_comment}%>
              </div>
            <% end %>

              <span id="answer-comment"><%= erb :'/comments/new', locals: { type: answer } %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="new-answer-container">
    <h2>Submit An Answer</h2>
    <%= erb :'answers/new' %>
  </div>

</div>
