<div id="question-container">
  <%= erb :'votes/_vote', locals: { type: @question } %>
  <%= erb :'questions/_question', locals: { question: @question } %>

  <div id="question-comments-container">
    <% @comments.each do | comment | %>
      <%= erb :'/votes/_vote', locals: { type: comment } %>
      <%= erb :'questions/_comment', locals: { comment: comment } %>
    <% end %>

    <%= erb :'/comments/new', locals: { type: @question } %>
  </div>
</div>

<div id="question-answers-container">
    <% @answers.each do | answer | %>
      <%= erb :'/votes/_vote', locals: { type: answer } %>
      <%= erb :'questions/_answer', locals: { answer: answer } %>

      <div id="answers-comments-container">
        <% answer.comments.each do |answer_comment| %>
          <%= erb :'votes/_vote', locals: {type: answer_comment} %>
          <%=erb :'questions/_comment', locals: {comment: answer_comment}%>
        <% end %>
      </div>
      <%= erb :'/comments/new', locals: { type: answer } %>
  <% end %>
    <div id="new-answer-container">
      <%= erb :'answers/new' %>
    </div>
</div>
