<h1>Winter Is Coming, <%= current_user.username %></h1>
<p>
  <%= @quote %>
</p>

<div class="question">
  <% @questions.each do |question| %>
        <a href="/questions/<%= question.id %>"><%= question.title %></a>
        <table class="stats">
          <tr>
            <td><%=question.count_votes%></td>
            <td><%=question.number_of_answers%></td>
            <td><%=question.number_of_comments%></td>
          </tr>
          <tr>
            <td>vote</td>
            <td>answers</td>
            <td>comments</td>
          </tr>
        </table>
        <table class="title_and_author">
          <tr>
            <td><a href="/questions/<%=question.id%>"><%=question.title%></a></td>
          </tr>
        </table>
  <%end%>
</div>

<div class="answers">
  
</div>

<div class="comments">

</div>
