<div id="vote-container">
  <ul class="vote">
    <li><form class="up-vote" action="/votes" method="post">
      <input type="hidden" name="vote[voteable_id]" value="<%= type.id %>">
      <input type="hidden" name="vote[voteable_type]" value="<%= type.class.to_s %>">
      <input type="hidden" name="vote[user_id]" value="<%= current_user.id %>">
      <input type="hidden" name="vote[value]" value="1">
      <input type="submit" value="&#9651;">
    </form></li>
    <li><%= vote_count %></li>
    <li><form class="down-vote" action="/votes" method="post">
      <input type="hidden" name="vote[voteable_id]" value="<%= type.id %>">
      <input type="hidden" name="vote[voteable_type]" value="<%= type.class.to_s %>">
      <input type="hidden" name="vote[user_id]" value="<%= current_user.id %>">
      <input type="hidden" name="vote[value]" value="-1">
      <input type="submit" value="&#9661;">
    </form></li>
  </ul>
</div>
